{% extends "layout.html" %}
 
{% block y %}
 
  <div class="create_wrapper">
    <nav>
      <div class="left_nav">
        <h2 class="logo">SCM Bulletin Board</h2>
        <a href="/users" class="user_list">Users</a>
        <a href="#" class="post_list">Posts</a>
      </div>
      <div class="right_nav">
        <h2 class="login_user">{{ current_name }}</h2>
        <a href="/logout" class="logout">logout</a>
      </div>
    </nav>
    <div class="main_blk">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.password.label }}
        <p>{{ form.password}}</p>
        {% if password_equal_error %}
          <p class="req_message">{{ password_equal_error }}</p>
        {% endif %}
        {% if password_format_error %}
          <p class="req_message">{{ password_format_error }}</p>
        {% endif %}
        <br><br>
        {{ form.confirm_password.label }}
        <p>{{ form.confirm_password}}</p>
        <br><br>
        {{ form.confirm_btn(class='main_btn')}}
        {{ form.clear_btn(class='main_btn') }}
    </form>
    </div>
  </div>
{% endblock %}