{% extends "layout.html" %}
 
{% block y %}
 
  <h1>SCM Bulletin Board </h1>
  <h2>Create User</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ _user_name}}
        <br><br>
        {{ form.email.label }}
        {{ _user_email}}
        <br><br>
        {{ form.password.label }}
        {{ _user_password}}
        <br><br>
        {{ form.confirm_password.label }}
        {{ _confirm_password}}
        <br><br>
        {{ form.type.label }}
        {{ _type}}
        <br><br>
        {{ form.phone.label }}
        {{ _phone}}
        <br><br>
        {{ form.date.label }}
        {{ _date}}
        <br><br>
        {{ form.address.label }}
        {{ _address}}
        <br><br>
        {{ form.profile.label }}
        {{ _profile}}
        <br><br>
        {{ form.create_btn}}
        <br>
        {{ form.cancel_btn }}
    </form>
{% endblock %}