{% extends "layout.html" %}
 
{% block y %}
 
<nav>
  <div class="left_nav">
    <h2 class="logo">SCM Bulletin Board</h2>
    {% if current_type == '1' %}
    <a href="/users" class="user_list">Users</a>
    {% endif %}
    {% if current_type == '0' %}
    <a href="/user_detail/{{ current_id }}" class="user_list">User</a>
    {% endif %}
    <a href="/posts" class="post_list">Posts</a>
  </div>
  <div class="right_nav">
    <h2 class="login_user">{{ current_name }}</h2>
    <a href="/logout" class="logout">logout</a>
  </div>
</nav>
<div class="left_blk">
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.post_title.label }}
    <p>{{ _post_title}}</p>
    <br><br>
    {{ form.post_description.label }}
    <p>{{ _post_description}}</p>
    <br><br>
    {% if _status == 1 %}
        <input type="radio" id="status_1" name="options" value="1" checked>
        <label for="status_1">Status 1</label><br>
        <input type="radio" id="status_0" name="options" value="0">
        <label for="status_0">Status 0</label><br>
    {% else %}
        <input type="radio" id="status_1" name="options" value="1" >
        <label for="status_1">Status 1</label><br>
        <input type="radio" id="status_0" name="options" value="0" checked>
        <label for="status_0">Status 0</label><br>
    {% endif %}
    {{ form.update_create_post(class='main_btn')}}

    <br>

    {{ form.update_cancel_post(class='main_btn') }}
</form>
</div>
{% endblock %}