{% extends "layout.html" %}
 
{% block y %}
 
  <div class="create_wrapper">
    <nav>
      <div class="left_nav">
        <h2 class="logo">SCM Bulletin Board</h2>
        <a href="/users" class="user_list">Users</a>
        <a href="/posts" class="post_list">Posts</a>
      </div>
      <div class="right_nav">
        <h2 class="login_user">{{ current_name }}</h2>
        <a href="/logout" class="logout">logout</a>
      </div>
    </nav>
    <div class="main_blk">
      {% if done and i == 2 %}
      <br>
          <p class="req_message">{{ done }}</p><br><br>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        <p>{{ form.name(value= _name ) }}</p>
        {% if name_error %}
        <br>
          <p class="req_message">{{ name_error }}</p>
        {% endif %}
        <br><br>
        {{ form.email.label }}
        <p>{{ form.email(value= _email  )}}</p>
        {% if email_exist_error %}
          <p class="req_message">{{ email_exist_error }}</p>
        {% endif %}
        {% if email_requ_error %}
          <p class="req_message">{{ email_requ_error }}</p>
        {% endif %}
        {% if not_email_error %}
          <p class="req_message">{{ not_email_error }}</p>
        {% endif %}
        <br><br>
        {{ form.type.label }}
        <p><select id="type" name="type" value="User">
          {% if _type == 'Admin' %}
          <option value="1" selected>Admin</option>
          <option value="0">User</option>
          {% else %}
          <option value="1" >Admin</option>
          <option value="0" selected>User</option>
          {% endif %}
        </select></p>
        <br><br>
        {{ form.phone.label }}
        <p>{{ form.phone(value= _phone )}}</p>
        {% if phone_error %}
        <br>
          <p class="req_message">{{ phone_error }}</p>
        {% endif %}
        <br><br>
        {{ form.date.label }}
        <p>{{ form.date(value= _date )}}</p>
        {% if date_error %}
        <br>
          <p class="req_message">{{ date_error }}</p>
        {% endif %}
        <br><br>
        {{ form.address.label }}
        <p><textarea name="address" id="address" cols="20" rows="5">{{ _address }}</textarea></p><br><br><br>
        <br><br>
        <a href="/password_change">Change Password</a>
        <br><br><br>
        {{ form.profile.label }}
        <p><input type="file" name="file" ></p>
        <img src="/static/{{_update_id}}/{{_primary_profile}}" alt="" width="120" height="90">
        <br>
        {% if file_error %}
          <p class="req_message">{{ file_error }}</p>
        {% endif %}
        
        <br><br>
        {{ form.confirm_update_btn(class='main_btn')}}
        {{ form.update_clear_btn(class='main_btn') }}
    </form>
    </div>
  </div>
{% endblock %}