{% extends "layout.html" %}
 
{% block y %}
 
  <div class="create_wrapper">
    <nav>
      <div class="left_nav">
        <h2 class="logo">SCM Bulletin Board</h2>
        <a href="/users" class="user_list">Users</a>
        <a href="#" class="post_list">Posts</a>
      </div>
      <div class="right_nav">
        <h2 class="login_user">{{ current_name }}</h2>
        <a href="/logout" class="logout">logout</a>
      </div>
    </nav>
    <div class="main_blk">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        <p>{{ form.name(value= _name ) }}</p>
        {% if name_error %}
        <br>
          <p class="req_message">{{ name_error }}</p>
        {% endif %}
        <br><br>
        {{ form.email.label }}
        <p>{{ form.email(value= _email  )}}</p>
        {% if email_exist_error %}
          <p class="req_message">{{ email_exist_error }}</p>
        {% endif %}
        {% if email_requ_error %}
          <p class="req_message">{{ email_requ_error }}</p>
        {% endif %}
        {% if not_email_error %}
          <p class="req_message">{{ not_email_error }}</p>
        {% endif %}
        <br><br>
        {{ form.type.label }}
        <p>{{ form.type(value= _type )}}</p>
        <br><br>
        {{ form.phone.label }}
        <p>{{ form.phone(value= _phone )}}</p>
        {% if phone_error %}
        <br>
          <p class="req_message">{{ phone_error }}</p>
        {% endif %}
        <br><br>
        {{ form.date.label }}
        <p>{{ form.date(value= _date )}}</p>
        {% if date_error %}
        <br>
          <p class="req_message">{{ date_error }}</p>
        {% endif %}
        <br><br>
        {{ form.address.label }}
        <p>{{ form.address(value= _address )}}</p>
        <br><br>
        <a href="#">Change Password</a>
        <br><br><br>
        {{ form.profile.label }}
        <p>{{ form.profile(value= _profile )}}</p>
        <br><br>
        {{ form.confirm_update_btn(class='main_btn')}}
        {{ form.update_clear_btn(class='main_btn') }}
    </form>
    </div>
  </div>
{% endblock %}