{% extends "layout.html" %}
 
{% block y %}
 
  <div class="create_wrapper">
    <nav>
      <div class="left_nav">
        <h2 class="logo">SCM Bulletin Board</h2>
        <a href="/users" class="user_list">Users</a>
        <a href="/posts" class="post_list">Posts</a>
      </div>
      <div class="right_nav">
        <h2 class="login_user">{{ current_name }}</h2>
        <a href="/logout" class="logout">logout</a>
      </div>
    </nav>
    {%  if current_type == 1 %}
    <form action="/search" method="POST">
      <input type="submit" value="Add" class="input_box sa_btn" name="add">
    </form><br>
    {% endif%}
    
    <h2>User List</h2>
    
    {% if current_type == '1' %}
      <form class="admin_view" action="/search" method='POST'>
        
        {% if _user_name %}
        <input type="text" placeholder="Name" class="input_box" name="user_name" value="{{_user_name}}">
        {% else %}
        <input type="text" placeholder="Name" class="input_box" name="user_name">
        {% endif %}
        {% if _user_email %}
        <input type="text" placeholder="Email" class="input_box" name="user_email" value="{{_user_email}}">
        {% else %}
        <input type="text" placeholder="Email" class="input_box" name="user_email">
        {% endif %}
        {% if _from_date %}
        <input placeholder="Created From" class="input_box" type="text" onfocus="(this.type='date')" id="from_date" name="from_date" value="{{_from_date}}">
        {% else %}
        <input placeholder="Created From" class="input_box" type="text" onfocus="(this.type='date')" id="from_date" name="from_date">
        {% endif %}
        {% if _to_date %}
        <input placeholder="Created To" class="input_box" type="text" onfocus="(this.type='date')" id="to_date" name="to_date" value="{{_to_date}}">
        {% else %}
        <input placeholder="Created To" class="input_box" type="text" onfocus="(this.type='date')" id="to_date" name="to_date">
        {% endif %}
        <input type="submit" value="Search" class="input_box sa_btn" name="search">
        <input type="submit" value="Cancel" class="input_box sa_btn" name="cancel">
      </form>

    {% endif %}
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created Us</th>
        <th>Phone</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        {% if current_type =='1' %}
        <th> </th>
        {% endif %}
      </tr>
      {% for row in rows %}
        
        <tr>
          {% if current_type  == '1' %}
          <td><a href="/update/{{ row['id'] }}" method="post">{{ row['name'] }}</a></td>
          {% else %}
          <td>{{ row['name'] }}</td>
          {%  endif %}
          <td>{{ row['email'] }}</td>
          <td>{{ row['create_user_id'] }}</td>
          <td>{{ row['phone'] }}</td>
          <td>{{ row['dob'] }}</td>
          <td>{{ row['address'] }}</td>
          <td>{{ row['created_at'] }}</td>
          <td>{{ row['updated_at'] }}</td>
          {% if current_type  == '1' %}
          <td><a href="#" id = "{{ row['id'] }}" class="to_delete">Delete</a></td>
          {% endif %}
          
          
        </tr>
      {% endfor %}
    </table>
{% endblock %}