{% extends "layout.html" %}
 
{% block y %}
 
  <div class="create_wrapper">
    <nav>
      <div class="left_nav">
        <h2 class="logo">SCM Bulletin Board</h2>
        <a href="/users" class="user_list">Users</a>
        <a href="#" class="post_list">Posts</a>
      </div>
      <div class="right_nav">
        <h2 class="login_user">{{ current_name }}</h2>
        <a href="/logout" class="logout">logout</a>
      </div>
    </nav>
    <div class="main_blk">
      <input type="text">
      <form method="POST" action='/user_create_page'>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        <p>{{ form.name}}</p>
        {% if name_error %}
        <br>
          <p class="req_message">{{ name_error }}</p>
        {% endif %}
        <br><br>
        {{ form.email.label }}
        <p>{{ form.email}}</p>
        {% if email_exist_error %}
          <p class="req_message">{{ email_exist_error }}</p>
        {% endif %}
        {% if email_requ_error %}
          <p class="req_message">{{ email_requ_error }}</p>
        {% endif %}
        {% if not_email_error %}
          <p class="req_message">{{ not_email_error }}</p>
        {% endif %}
        <br><br>
        {{ form.password.label }}
        <p>{{ form.password}}</p>
        {% if password_equal_error %}
          <p class="req_message">{{ password_equal_error }}</p>
        {% endif %}
        {% if password_format_error %}
          <p class="req_message">{{ password_format_error }}</p>
        {% endif %}
        <br><br>
        {{ form.confirm_password.label }}
        <p>{{ form.confirm_password}}</p>
        <br><br>
        {{ form.type.label }}
        <p>{{ form.type}}</p>
        <br><br>
        {{ form.phone.label }}
        <p>{{ form.phone}}</p>
        {% if phone_error %}
        <br>
          <p class="req_message">{{ phone_error }}</p>
        {% endif %}
        <br><br>
        {{ form.date.label }}
        <p>{{ form.date}}</p>
        <br><br>
        {{ form.address.label }}
        <p>{{ form.address}}</p>
        <br><br><br>
        {{ form.profile.label }}
        <p>{{ form.profile}}</p>
        <br><br>
        {{ form.confirm_btn(class='main_btn')}}
        {{ form.clear_btn(class='main_btn') }}
    </form>
    </div>
  </div>
{% endblock %}